<div class="book" book_id = "{{book.id}}">
  <div class="cover">
    <img src="{{book.cover}}" alt="#">
  </div>
  <h3 id="title">{{book.title}}</h3>
  <h4 id="author">{{book.author}}</h4>
  <button id="btn" class="{{book.added ? 'added' : ''}}">Add to bucket</button>
</div>